# Creating a Map displaying all the flights I have ever taken and more....

## This project started on 24/09/16

In [3]:
import pandas as pd
import os

cwd = os.getcwd()
print cwd

C:\Users\vz28\Mapping project\python mapping

## Loading the data into a pandas data frame

In [4]:
# define the expected CSV columns
csv_cols = ('flight', 'dep_coutry', 'dep_airport','dep_airport_code','dep_lat','dep_lon',
            'arr_country','arr_airport','arr_airport_code','arr_lat','arr_lon',
            'date', 'notes','trip_name')

#define the input
in_filename = cwd + '\Data\SW-J flight travel.csv'
print in_filename

# Load in the file 
routes= pd.read_csv(in_filename,names= csv_cols, skiprows=1)

C:\Users\vz28\Mapping project\python mapping\Data\SW-J flight travel.csv

## Looking at the data

In [5]:
routes

,flight,dep_coutry,dep_airport,dep_airport_code,dep_lat,dep_lon,arr_country,arr_airport,arr_airport_code,arr_lat,arr_lon,date,notes,trip_name
0,1,UK,Heathrow,LHR,51.477500,-0.461389,United States,Los Angeles,LAX,33.942536,-118.408075,01/08/2000,estimated date,Family United States 1
1,2,United States,San Francisco,SFO,37.618972,-122.374889,UK,Heathrow,LHR,51.477500,-0.461389,15/08/2000,estimated date,Family United States 1
2,3,UK,Heathrow,LHR,51.477500,-0.461389,United States,Boston,BOS,42.364347,-71.005181,01/08/2002,estimated date,Family United States 2
3,4,United States,Boston,BOS,42.364347,-71.005181,UK,Heathrow,LHR,51.477500,-0.461389,12/08/2002,estimated date,Family United States 2
4,5,UK,Heathrow,LHR,51.477500,-0.461389,United States,Los Angeles,LAX,33.942536,-118.408075,01/08/2004,estimated date,Family United States 3
5,6,United States,Los Angeles,LAX,33.942536,-118.408075,UK,Heathrow,LHR,51.477500,-0.461389,15/08/2004,estimated date,Family United States 3
6,7,UK,Heathrow,LHR,51.477500,-0.461389,United States,Chicago,ORD,41.978603,-87.904842,22/10/2004,estimated date,Aunty Jill United States trip
7,8,United States,Chicago,ORD,41.978603,-87.904842,UK,Heathrow,LHR,51.477500,-0.461389,29/10/2004,estimated date,Aunty Jill United States trip
8,9,UK,Luton,LTN,51.874722,-0.368333,Switzerland,Geneva,GVA,46.238064,6.108950,01/04/2007,estimated date,Avoriaz
9,10,Switzerland,Geneva,GVA,46.238064,6.108950,UK,Luton,LTN,51.874722,-0.368333,08/04/2007,estimated date,Avoriaz
10,11,UK,Luton,LTN,51.874722,-0.368333,Cyprus,Pathos,AOK,35.421408,27.146008,01/08/2008,estimated date,Family Cyprus
11,12,Cyprus,Pathos,AOK,35.421408,27.146008,UK,Luton,LTN,51.874722,-0.368333,15/08/2008,estimated date,Family Cyprus
12,13,UK,Heathrow,LHR,51.477500,-0.461389,India,Bombay,BOM,19.088686,72.867919,16/08/2008,Via Bombay,Family Thailand 1
13,14,India,Bombay,BOM,19.088686,72.867919,Thailand,Bangkok,BKK,13.681108,100.747283,16/08/2008,Via Bombay,Family Thailand 1
14,15,Thailand,Bangkok,BKK,13.681108,100.747283,Thailand,PhUKet,HKT,8.113200,98.316872,23/08/2008,NaN,Family Thailand 1
15,16,Thailand,PhUKet,HKT,8.113200,98.316872,Thailand,Bangkok,BKK,13.681108,100.747283,27/08/2008,NaN,Family Thailand 1
16,17,Thailand,Bangkok,BKK,13.681108,100.747283,UK,Heathrow,LHR,51.477500,-0.461389,29/08/2008,NaN,Family Thailand 1
17,18,UK,Luton,LTN,51.874722,-0.368333,Greece,Zakynthos,ZTH,37.750853,20.884250,03/07/2010,estimated date and aiports,Zante
18,19,Greece,Zakynthos,ZTH,37.750853,20.884250,UK,Luton,LTN,51.874722,-0.368333,10/07/2010,estimated date and aiports,Zante
19,20,UK,Luton,LTN,51.874722,-0.368333,Portugal,Lisbon,LIS,38.781311,-9.135919,09/04/2011,estimated date,Portugal Surfing
20,21,Portugal,Lisbon,LIS,38.781311,-9.135919,UK,Luton,LTN,51.874722,-0.368333,16/04/2011,estimated date,Portugal Surfing
21,22,UK,Stansted,STN,51.885000,0.235000,Italy,Verona,NaN,45.472017,10.927919,17/04/2011,estimated date and aiports,Mantrowva 2011
22,23,Italy,Verona,NaN,45.472017,10.927919,UK,Stansted,STN,51.885000,0.235000,23/04/2011,estimated date and aiports,Mantrowva 2011
23,24,UK,Stansted,STN,51.885000,0.235000,Italy,Verona,NaN,45.472017,10.927919,01/04/2012,estimated date and aiports,Mantrowva 2012
24,25,Italy,Verona,NaN,45.472017,10.927919,UK,Stansted,STN,51.885000,0.235000,07/04/2012,estimated date and aiports,Mantrowva 2012
25,26,UK,Luton,LTN,51.874722,-0.368333,Portugal,Lisbon,LIS,38.781311,-9.135919,02/07/2012,estimated date,Portugal with Rich and Claire
26,27,Portugal,Lisbon,LIS,38.781311,-9.135919,UK,Luton,LTN,51.874722,-0.368333,08/07/2012,estimated date,Portugal with Rich and Claire
27,28,UK,Birmingham,BHX,52.453856,-1.748028,France,Nantes,NTE,47.153189,-1.610725,10/07/2012,estimated date and aiports,Beganne
28,29,France,Nantes,NTE,47.153189,-1.610725,UK,Birmingham,BHX,52.453856,-1.748028,15/07/2012,estimated date and aiports,Beganne
29,30,UK,Stansted,STN,51.885000,0.235000,Spain,Sevilla,SVQ,37.418000,-5.893106,23/09/2012,NaN,"Mum, Dad, me seville 3rd year"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40,41,Greece,Rhodos,RHO,36.405419,28.086192,UK,Luton,LTN,51.874722,-0.368333,19/09/2013,estimated date and aiports,Family Rhodes
41,42,UK,Heathrow,LHR,51.477500,-0.461389,United States,New York,JFK,40.639751,-73.778925,31/07/2014,NaN,Finals United States Trip
42,43,United States,Washington,DCA,38.852083,-77.037722,United States,Charleston,CHS,32.898647,-80.040528,14/08/2014,NaN,Finals United States Trip
43,44,United States,Raleigh-durham,RDU,35.877639,-78.787472,United States,Atlanta,ATL,33.636719,-84.428067,26/08/2014,Via Atlanta,Finals United States Trip
44,45,United States,Atlanta,ATL,33.636719,-84.428067,UK,Heathrow,LHR,51.477500,-0.461389,26/08/2014,Via Atlanta,Finals United States Trip
45,46,UK,Stansted,STN,51.885000,0.235000,Ireland,Dublin,DUB,53.421333,-6.270075,20/11/2014,NaN,Lattice Dublin
46,47,Ireland,Dublin,DUB,53.421333,-6.270075,UK,Stansted,STN,51.885000,0.235000,24/11/2014,NaN,Lattice Dublin
47,48,UK,Luton,LTN,51.874722,-0.368333,Germany,Berlin Schonefeld,SXF,52.380001,13.522500,22/01/2015,NaN,Silke Trip
48,49,Germany,Berlin Schonefeld,SXF,52.380001,13.522500,UK,Stansted,STN,51.885000,0.235000,25/01/2015,NaN,Silke Trip
49,50,UK,Gatwick,LGW,51.148056,-0.190278,Spain,Barcelona,BCN,41.297078,2.078464,09/05/2015,NaN,"Stan, Zo and Si Cycle"
50,51,France,Toulouse,TLS,43.629075,1.363819,UK,Luton,LTN,51.874722,-0.368333,16/05/2015,NaN,"Stan, Zo and Si Cycle"
51,52,UK,Luton,LTN,51.874722,-0.368333,Slovenia,Ljubliana,LJU,46.223686,14.457611,12/09/2015,NaN,Slovatia
52,53,Croatia,Zagreb,ZAG,45.742931,16.068778,Serbia,Beograd,BEG,44.818444,20.309139,19/09/2015,Via belgrade,Slovatia
53,54,Serbia,Beograd,BEG,44.818444,20.309139,UK,Heathrow,LHR,51.477500,-0.461389,19/09/2015,Via belgrade,Slovatia
54,55,UK,Heathrow,LHR,51.477500,-0.461389,Turkey,Istanbul,IST,40.976922,28.814606,19/11/2015,NaN,Lattice Turkey
55,56,Turkey,Istanbul,IST,40.976922,28.814606,UK,Gatwick,LGW,51.148056,-0.190278,22/11/2015,NaN,Lattice Turkey
56,57,UK,Heathrow,LHR,51.477500,-0.461389,India,Bangalore,BLR,12.949986,77.668206,09/01/2016,NaN,India with Work
57,58,India,Bangalore,BLR,12.949986,77.668206,India,Delhi,DEL,28.566500,77.103088,30/01/2016,via Dehli,India with Work
58,59,India,Delhi,DEL,28.566500,77.103088,UK,Heathrow,LHR,51.477500,-0.461389,30/01/2016,via Dehli,India with Work
59,60,Germany,Berlin Schonefeld,SXF,52.380001,13.522500,UK,Luton,LTN,51.874722,-0.368333,04/03/2016,NaN,Richard's Stag
60,61,UK,Luton,LTN,51.874722,-0.368333,Germany,Berlin Schonefeld,SXF,52.380001,13.522500,06/03/2016,NaN,Richard's Stag
61,62,UK,Gatwick,LGW,51.148056,-0.190278,Germany,Hamburg,HAM,53.630389,9.988228,17/04/2016,NaN,Teradata Conference
62,63,Germany,Hamburg,HAM,53.630389,9.988228,UK,Gatwick,LGW,51.148056,-0.190278,20/04/2016,NaN,Teradata Conference
63,64,UK,Stansted,STN,51.885000,0.235000,Greece,Athens,ATH,37.936358,23.944467,18/06/2016,NaN,The Big Sail
64,65,Greece,Athens,ATH,37.936358,23.944467,UK,Stansted,STN,51.885000,0.235000,25/06/2016,NaN,The Big Sail
65,66,UK,Luton,LTN,51.874722,-0.368333,Poland,Gdansk,GDN,54.377569,18.466222,28/06/2016,NaN,Lattice Open'r
66,67,Poland,Gdansk,GDN,54.377569,18.466222,UK,Luton,LTN,51.874722,-0.368333,03/07/2016,NaN,Lattice Open'r
67,68,UK,Heathrow,LHR,51.477500,-0.461389,Thailand,Bangkok,BKK,13.681108,100.747283,21/08/2016,NaN,Thailand with Work
68,69,Thailand,Bangkok,BKK,13.681108,100.747283,Cambodia,Siem-reap,REP,13.410666,103.812840,15/09/2016,NaN,Family Camobia 1
69,70,Cambodia,Siem-reap,REP,13.410666,103.812840,Thailand,Bangkok,BKK,13.681108,100.747283,18/09/2016,NaN,Family Camobia 1

In [6]:
routes.index

RangeIndex(start=0, stop=70, step=1)

In [7]:
raw_data['to lattitude'][0]   ## data selection similar to an Sframe in graphlab

NameError: name 'raw_data' is not defined

### Try to ignore anything about colour - old code

In [13]:
#!/usr/bin/env python
# -*- coding: utf-8 -*-
import numpy as np
import pandas as pd
from mpl_toolkits.basemap import Basemap
import matplotlib.pyplot as plt
from matplotlib.colors import Normalize, LinearSegmentedColormap, PowerNorm
import os

def plot_map(in_filename, color_mode='screen',
             out_filename='flights_map_mpl.png', absolute=False):
    """Plots the given CSV data files use matplotlib basemap and saves it to
    a PNG file.
    Args:
        in_filename: Filename of the CSV containing the data points.
        out_filename: Output image filename
        color_mode: Use 'screen' if you intend to use the visualisation for
                    on screen display. Use 'print' to save the visualisation
                    with printer-friendly colors.
        absolute: set to True if you want coloring to depend on your dataset
                  parameter value (ie for comparison).
                  When set to false, each coordinate pair gets a different
                  color.
    """

    if color_mode == 'screen':
        bg_color = (0.0, 0.0, 0, 1.0)
        coast_color = (10/255.0, 255/255.0, 71/255.0, 0.7)
        color_list = [(0.0, 0.0, 0.0, 0.0),
                      (204/255.0, 0, 153/255.0, 0.6),
                      (255/255.0, 204/255.0, 230/255.0, 1.0)]
        """        bg_color = (0.0, 0.0, 0, 1.0)
        coast_color = (204/255.0, 0, 153/255.0, 0.7)
        color_list = [(0.0, 0.0, 0.0, 0.0),
                      (204/255.0, 0, 153/255.0, 0.6),
                      (255/255.0, 204/255.0, 230/255.0, 1.0)]"""
    else:
        bg_color = (1.0, 1.0, 1.0, 1.0)
        coast_color = (10.0/255.0, 10.0/255.0, 10/255.0, 0.8)
        color_list = [(1.0, 1.0, 1.0, 0.0),
                      (255/255.0, 204/255.0, 230/255.0, 1.0),
                      (204/255.0, 0, 153/255.0, 0.6)
                      ]

        # define the expected CSV columns
    csv_cols = ('flight', 'dep_coutry', 'dep_airport','dep_airport_code','dep_lat','dep_lon',
                'arr_country','arr_airport','arr_airport_code','arr_lat','arr_lon',
                'date', 'notes','trip_name')

  
    # Load in the file 
    routes = pd.read_csv(in_filename,names= csv_cols, skiprows=1)
    
    # create the map and draw country boundaries
    plt.figure(figsize=(27, 20))
    m = Basemap(projection='mill', lon_0=0, resolution= 'l')
    # other projections are possible e.g. m = Basemap(projection='ortho',lat_0=10,lon_0=0,resolution='l')
    m.drawcoastlines(color=coast_color, linewidth=1.0)
    m.fillcontinents(color=bg_color, lake_color=bg_color)
    m.drawmapboundary(fill_color=bg_color)

    # plot each route with its color depending on the number of flights
    for i, route in enumerate(routes.sort_values(by='flight',
                              ascending=True).iterrows()):
        route = route[1]
        color = (204/255.0, 0, 193/255.0, .9)
       

        line, = m.drawgreatcircle(route['dep_lon'], route['dep_lat'],
                                  route['arr_lon'], route['arr_lat'],
                                  linewidth=2, color=color)
        
        # if the path wraps the image, basemap plots a nasty line connecting
        # the points at the opposite border of the map.
        # we thus detect path that are bigger than 30km and split them
        # by adding a NaN
        path = line.get_path()
        cut_point, = np.where(np.abs(np.diff(path.vertices[:, 0])) > 30000e3)
        if len(cut_point) > 0:
            cut_point = cut_point[0]
            vertices = np.concatenate([path.vertices[:cut_point, :],
                                      [[np.nan, np.nan]],
                                      path.vertices[cut_point+1:, :]])
            path.codes = None  # treat vertices as a serie of line segments
            path.vertices = vertices

    # save the map
    plt.savefig(out_filename, format='png', bbox_inches='tight')

if __name__ == '__main__':
    # use 'screen' color mode for on-screen display. Use 'print' if you intend
    # to print the map
    #define the input
    cwd = os.getcwd()
    in_filename = cwd + '\Data\SW-J flight travel.csv'
    print in_filename

    plot_map(in_filename,'screen', absolute=False)

C:\Users\vz28\Mapping project\python mapping\Data\SW-J flight travel.csv

## We can view it here using plt.show()

In [14]:
plt.title('Simon\'s Travel')
plt.show()

# And some random list analysys

In [ ]:
list = ['dffd',1,21,1]

In [ ]:
list2 = [list,'w']

In [ ]:
print list2

In [ ]:
coast_color = (4/255.0, 0,10/255.0, 0.7)
f = plt.figure(facecolor= coast_color)
plt.show()